.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
  }
  
  .navbar-right .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 1rem;
  }
  .navbar-brand{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
  }
  